*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.xml___jb_tmp___
.idea/workspace.xml___jb_old___
app/src/main/java/com/example/farmweather/Settings.java___jb_tmp___
